{% extends "layout.html" %}
{% block content %}
  <h1>Term List</h1>
  <ul class="termlist">
    {%for term in terms %}
      <li>
        <input type="text"   id="{{ term.id }}" class="termModTitle"  value="{{ term.title }}"></input>
        <input type="text"   id="{{ term.id }}" class="termModIncome" value="{{ term.income }}">€</input>
        <input type="submit" id="{{ term.id }}" class="termModSubmit" value="Modify"></input>
        <a href="{{ url_for('term_list', _scheme='https', _external=true) }}/{{ term.id }}">Open</a>
        <span id="{{ term.id }}" class="expAddResult"></span>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
